header {
    width: 100%;
}

.container {}

.header_container {
    margin: 0 auto;
    height: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_navigation {
    display: flex;
    align-items: center;
}

.search_form {
    display: flex;
}

.link_list {
    display: flex;
}

.header_logo {
    width: 150px;
    height: 98px;
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 98px);
}

.input_wrapper {
    position: relative;
}

.placeholder {
    position: absolute;
    left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 10px;
    color: #E0E0E0;
    pointer-events: none;
}

.header_search:focus~.placeholder,
.header_search:not(:placeholder-shown)~.placeholder {
    display: none;
}


.nav_link,
.nav_link_img {
    text-decoration: none;
    padding: 10px 10.5px;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #222222;
    position: relative;
    transition: 0.5s;
}

.nav_link:after {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 1px;
    display: block;
    background-color: var(--main-style-color);
    transition: 0.5s;
}

.nav_link:hover::after {

    left: 0;
    right: auto;
    width: 100%;
}

.nav_link:hover {
    color: var(--main-style-color)
}

.header_home_icon {
    width: 100%;
    height: 100%;
}

.header_search {
    border: 1px solid #E0E0E0;
    height: 42px;
    width: 255px;
    padding-left: 15px;

}

.header_search-button {
    width: 137px;
    height: 42px;
    border: 0;
    border-radius: 0px 3px 3px 0px;
    background-color: #B8BDC9;
    color: #E0E0E0;
    font-size: 14px;
    line-height: 21px;
}

.nav_wrap {
    display: flex;
}

.burger {
    display: none;
}

.stick {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: var(--usual-decorations);
    transition: 0.2s;

}

@media (max-width: 1320px) {
    .header_logo {
        left: 47%;
    }
}

@media (max-width: 1150px) {
    .header_search {
        width: 150px;
        padding-left: 10px;
    }

    .search_text {
        display: none;
    }

    .header_logo {
        left: 52%;
    }
}

@media (max-width: 1050px) {

    .nav_link,
    .nav_link_img {
        display: none;
    }

    .burger {
        display: flex;
        align-items: center;
    }

    .stick {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: white;
        transition: 0.2s;
        border-radius: 3px;
    }

    .burger_space {
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--main-style-color);
    }

    .header_logo {
        left: 35%;
    }
}

@media (max-width: 780px) {
    .header_logo {
        left: 20%;
    }
}

@media (max-width: 620px) {
    .header_container {
        height: auto;
    }

    /* .header_search-button {
        display: none;
    } */

    .header_search {
        height: 42px;
        max-width: fit-content;
        padding-left: 10px;
        width: fit-content;
        min-width: 30px;
        margin-bottom: 20px;
    }

    .header_container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header_logo {
        position: inherit;
        margin-top: 10px;
    }

    .nav-logo_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.popup {
    position: absolute;
    right: 100%;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: none;
    overflow: hidden;
    bottom: 0;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.7);


}

.popup.open {
    left: 0;
    display: flex;
    animation-duration: 0.5s;
    animation-name: fadein;
    animation-timing-function: linear;

}

.noscroll {
    overflow: hidden;
}

@keyframes fadein {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.popup_textblock {
    position: absolute;
    left: 100%;
    width: 80%;
    background-color: #B8BDC9;
    color: black;
    align-items: center;
    overflow: auto;
}

.navbar_menu_mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;


}

.nav_elem_mobile {
    display: block;
    padding: 40px;
    text-decoration: none;
    font-size: 22px;
    color: #444444;
}

.nav_elem_mobile:hover {
    background-color: black;
    color: var(--main-style-color);

}


.popup_textblock.slidein {
    position: relative;
    display: flex;
    left: 0;
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-timing-function: linear;


}

@keyframes slidein {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}



@keyframes fadeout {
    from {
        background-color: rgba(0, 0, 0, 0.7);
    }

    to {
        background-color: rgba(0, 0, 0, 0);
    }

}

@keyframes slideout {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}


.popup.close {
    background-color: rgba(0, 0, 0, 0);
    animation-name: fadeout;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}

.popup_textblock.slideout {
    left: 100%;
    animation-name: slideout;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}

.burger_space.active .stick:nth-child(2) {
    opacity: 0;
}

.burger_space.active .stick:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger_space.active .stick:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}