.how {
    width: 100%;
    position: relative;
}

.how_content_wrapper {
    display: flex;
    gap: 55px;
    padding-top: 52px;
    padding-left: 210px;
    padding-bottom: 56px;
    align-items: center;
}

.how_links_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h2 {
    font-size: 28px;
    line-height: 39px;
    color: #2BCAB8;
}

.how_link {
    font-size: 14px;
    text-decoration: none;
    line-height: 23px;
    color: #252061;
    transition: 1s;
}

.how_link:hover {
    color: var(--secondary-style-color);
}

.how_writers {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 305px;
    background-image: url("../img/how/bg-image.png");
    background-color: #252061;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-box-shadow: 0px 7px 43px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 7px 43px 0px rgba(0, 0, 0, 0.65);
}

.how_writers_content {
    padding: 37px 0 37px 55px;

}

h3 {
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 26px;
}

.sub_text {
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 18px;
}

.how_photo_wrapper {
    position: relative;
}

.writers_button {
    position: absolute;
    left: 185px;
    top: 20px;
    width: 146px;
    height: 47px;
    border: 0;
    background-color: var(--secondary-style-color);
    color: white;
}

@media (max-width: 1220px) {
    .how_content_wrapper {
        padding-left: 50px;
    }
}

@media (max-width: 1080px) {
    .how_content_wrapper {
        padding-top: 50px;
    }

    .how {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .how_writers {
        position: relative;
    }
}

@media (max-width: 620px) {
    .how_writers {
        width: 350px;
    }

    .how_writers_content {
        padding: 10px;
        padding-top: 40px;
    }

    .how_content_wrapper {
        padding-bottom: 0;
        padding-left: 10px;
        gap: 20px;
    }

    h2 {
        font-size: 18px;
    }
}

.glowing {
    color: var(--main-style-color);
    transition: .5s;
}